<div class="container mt-5">
  <div class="row mb-5">
    <div class="col-12 col-md-10 mx-auto">

      {{!-- restaurant detail --}}
      <form action="/restaurants/{{{restaurant.id}}}/edit" method="POST" class="mb-4">
        <p class="mb-4">
          <span class="text-secondary">
            餐廳名稱：
          </span>
          <input type="text" value="{{{restaurant.name}}}" name="name">
        </p>
        <p class="mb-4">
          <span class="text-secondary">
            <i class="fas fa-utensils pr-2"></i>
            類別：
          </span>
          <input type="text" value="{{{restaurant.category}}}" name="category">
        </p>

        <p class="mb-4">
          <span class="text-secondary">
            <i class="fas fa-map-marker-alt pr-2"></i>
            地址：
          </span>
          <input type="text" value="{{{restaurant.location}}}" name="location">
        </p>

        <p class="mb-4">
          <span class="text-secondary">
            <i class="fas fa-map-marker-alt pr-2"></i>
            Google Map：
          </span>
          <input type="text" value="{{{restaurant.google_map}}}" name="google_map">
        </p>

        <p class="mb-4">
          <span class="text-secondary">
            <i class="fas fa-mobile-alt pr-2"></i>
            電話：
          </span>
          <input type="text" value="{{{restaurant.phone}}}" name="phone">
        </p>

        <p class="mb-4">
          <span class="text-secondary">
            餐廳描述：
          </span>
          <textarea cols="100" row="10" name="description">{{{restaurant.description}}}</textarea>
        </p>

        <p class="mb-4">
          <span class="text-secondary">
            圖片網址：
          </span>
          <input type="text" value="{{{restaurant.image}}}" name="image">
        </p>
        <div class="button-group">
          <button type="submit" class="btn btn-info px-5 mr-4">Save</button>
          <a class="btn btn-dark" href="/restaurants/{{{restaurant.id}}}" role="button">Cancel</a>
        </div>
      </form>

      <form action="/restaurants/{{{restaurant.id}}}/delete" method="POST" class="d-inline mb-4">
        <button type="submit" class="delete-btn btn btn-warning"
          onclick="return confirm('Are you sure you want to delete this item?');">
          <i class=" fas fa-trash-alt fa-lg"></i><span>Delete</span>
        </button>
      </form>
    </div>
  </div>
</div>