<div class="container mt-5">
  <div class="row mb-5">
    <div class="col-12 col-md-10 mx-auto">

      {{!-- restaurant detail --}}

      <form action="/restaurants/{{{restaurant.id}}}/edit?_method=PUT" method="POST" class="mb-4">
        <div class="form-group row">
          <label for="name">
            <span class="text-secondary">
              餐廳名稱：
            </span>
            <span class="input-required">*</span>
          </label>
          <div class="col-10 ml-auto">
            <input type="text" class="form-control" id="" placeholder="" value="{{{restaurant.name}}}" name="name">
            <small id="" class="form-text text-muted"></small>
          </div>
        </div>
        {{!-- <p class="mb-4">
          <span class="text-secondary">
            餐廳名稱：
          </span>
          <input type="text" value="{{{restaurant.name}}}" name="name">
        </p> --}}
        <div class="form-group row">
          <label for="name">
            <span class="text-secondary">
              <i class="fas fa-utensils pr-2"></i>
              類別：
            </span>
            <span class="input-required">*</span>
          </label>
          <div class="col-10 ml-auto">
            <input type="text" class="form-control" id="" placeholder="" value="{{{restaurant.category}}}"
              name="category">
            <small id="" class="form-text text-muted"></small>
          </div>
        </div>
        {{!-- <p class="mb-4">
          <span class="text-secondary">
            <i class="fas fa-utensils pr-2"></i>
            類別：
          </span>
          <input type="text" value="{{{restaurant.category}}}" name="category">
        </p> --}}
        <div class="form-group row">
          <label for="name">
            <span class="text-secondary">
              <i class="fas fa-map-marker-alt pr-2"></i>
              地址：
            </span>
            <span class="input-required">*</span>
          </label>
          <div class="col-10 ml-auto">
            <input type="text" class="form-control" id="" placeholder="" value="{{{restaurant.location}}}"
              name="location">
            <small id="" class="form-text text-muted"></small>
          </div>
        </div>
        {{!-- <p class="mb-4">
          <span class="text-secondary">
            <i class="fas fa-map-marker-alt pr-2"></i>
            地址：
          </span>
          <input type="text" value="{{{restaurant.location}}}" name="location">
        </p> --}}
        <div class="form-group row">
          <label for="name">
            <span class="text-secondary">
              <i class="fas fa-map-marker-alt pr-2"></i>
              Google Map：
            </span>
            <span class="input-required"></span>
          </label>
          <div class="col-10 ml-auto">
            <input type="text" class="form-control" id="" placeholder="" value="{{{restaurant.google_map}}}"
              name="google_map">
            <small id="" class="form-text text-muted"></small>
          </div>
        </div>
        {{!-- <p class="mb-4">
          <span class="text-secondary">
            <i class="fas fa-map-marker-alt pr-2"></i>
            Google Map：
          </span>
          <input type="text" value="{{{restaurant.google_map}}}" name="google_map">
        </p> --}}
        <div class="form-group row">
          <label for="name">
            <span class="text-secondary">
              <i class="fas fa-mobile-alt pr-2"></i>
              電話：
            </span>
            <span class="input-required"></span>
          </label>
          <div class="col-10 ml-auto">
            <input type="text" class="form-control" id="" placeholder="" value="{{{restaurant.phone}}}" name="phone">
            <small id="" class="form-text text-muted"></small>
          </div>
        </div>
        {{!-- <p class="mb-4">
          <span class="text-secondary">
            <i class="fas fa-mobile-alt pr-2"></i>
            電話：
          </span>
          <input type="text" value="{{{restaurant.phone}}}" name="phone">
        </p> --}}
        <div class="form-group row">
          <label for="name">
            <span class="text-secondary">
              餐廳描述：
            </span>
            <span class="input-required">*</span>
          </label>
          <div class="col-10 ml-auto">
            <input type="text" class="form-control" id="" placeholder="" value="{{{restaurant.description}}}"
              name="description">
            <small id="" class="form-text text-muted"></small>
          </div>
        </div>
        {{!-- <p class="mb-4">
          <span class="text-secondary">
            餐廳描述：
          </span>
          <textarea cols="100" row="10" name="description">{{{restaurant.description}}}</textarea>
        </p> --}}
        <div class="form-group row">
          <label for="name">
            <span class="text-secondary">
              圖片網址：
            </span>
            <span class="input-required"></span>
          </label>
          <div class="col-10 ml-auto">
            <input type="text" class="form-control" id="" placeholder="" value="{{{restaurant.image}}}" name="image">
            <small id="" class="form-text text-muted"></small>
          </div>
        </div>
        {{!-- <p class="mb-4">
          <span class="text-secondary">
            圖片網址：
          </span>
          <input type="text" value="{{{restaurant.image}}}" name="image">
        </p> --}}
        <div class="button-group">
          <button type="submit" class="btn btn-info px-5 mr-4">Save</button>
          <a class="btn btn-dark" href="/restaurants/{{{restaurant.id}}}" role="button">Cancel</a>
        </div>
      </form>

      <form action="/restaurants/{{{restaurant.id}}}/delete?_method=DELETE" method="POST" class="d-inline mb-4">
        <button type="submit" class="delete-btn btn btn-warning"
          onclick="return confirm('Are you sure you want to delete this item?');">
          <i class=" fas fa-trash-alt fa-lg"></i><span>Delete</span>
        </button>
      </form>
    </div>
  </div>
</div>